<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Autores</title>
</head>
<body>
    <h1>Lista de Autores</h1>
    <a href="{{ url_for('index') }}">Voltar</a> |
    <a href="{{ url_for('novo_autor') }}">Adicionar Novo Autor</a>
    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Nacionalidade</th>
        </tr>
        {% for autor in autores %}
        <tr>
            <td>{{ autor.id }}</td>
            <td>{{ autor.nome }}</td>
            <td>{{ autor.nacionalidade }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
