<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Novo Autor</title>
</head>
<body>
    <h1>Adicionar Novo Autor</h1>
    <a href="{{ url_for('listar_autores') }}">Voltar à lista</a>
    <form method="POST">
        <label>Nome:</label><br>
        <input type="text" name="nome" required><br><br>

        <label>Nacionalidade:</label><br>
        <input type="text" name="nacionalidade" required><br><br>

        <button type="submit">Adicionar Autor</button>
    </form>
</body>
</html>
